* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  body {
    height: 100vh;
    background-color: black;
    background-image: url('https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1517&q=80');
    background-size: cover;
    background-position: center;
  }

  #convert {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#convert h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 32px;
    color: #ffffff;
}
  
  #letter-container {
    width: 1500px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #ffd500;
    background-color: #ffffff;
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 50px;
}

#letter-image {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: 100%;
    overflow-x: auto;
    flex-wrap: nowrap;
}

#letter-image img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}

#error-message {
    color: red;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

#input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

#letter-input {
    padding: 10px;
    font-size: 18px;
    width: 300px;
    text-align: center;
    border-radius: 5px;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

#enter-button {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: #ffd500;
    color: #003F88;
    border: 3px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#enter-button:hover {
    background-color: #ffffff;
}

#clear-button {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: #ff4d4d;
    color: white;
    border: 3px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#clear-button:hover {
    background-color: #ffffff;
    color: #ff4d4d;
}

@media (max-width: 768px) {
    #letter-container {
        width: 400px;
        height: 400px;
    }

    #letter-input {
        width: 280px;
    }

    #enter-button,
    #clear-button {
        font-size: 18px;
        padding: 10px 18px;
    }
}

@media (max-width: 480px) {
    #letter-container {
        width: 300px;
        height: 300px;
    }

    #letter-input {
        width: 250px;
        font-size: 16px;
    }

    #enter-button,
    #clear-button {
        font-size: 16px;
        padding: 8px 16px;
    }
}
  